* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.show{
  display: none;
}

.displayTable{
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 6px 0;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.headerSection {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.headerSection .logo {
  float: left;
  margin-left: 10%;
}

.headerNav{
  float: right;
  margin-top: 30px;
}

.headerNav ul li {
  float: left;
  margin: 0 20px;
  margin-top: 18px;
}

#logout {
  background-color: red;
  color: rgb(231, 231, 231);
  padding: 3px 12px;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#logout:hover {
  background-color: rgb(240, 112, 112);
  padding: 6px 16px;
}

.headerNav ul li a {
  font-size: 21px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#nameBar {
  color: rgb(1, 60, 99);
  font-weight: bold;
}

.banner {
  background-color: rgb(235, 232, 232);
  position: relative;
  top: 91px;
  width: 100%;
  text-align: center;
  padding: 50px 0;
  overflow: scroll;
}

#dashboard {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#orderLink {
  color: #cccaca;
  font-size: 22px;
  padding: 8px 14px;
  border-radius: 5px;
  background-color: #393939;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
  text-decoration: none;
}

.sideNav ul{
  background-color: crimson;
  border-radius: 5px;
  padding: 10px;

}

#orderLink:hover {
  background-color: #555454;
}

.no-display{
  display: none;
}

#parcelId{
  display: none;
}


.banner h1 {
  color: red;
}

#bannerNav {
  text-align: left;
  max-width: 350px;
  width: 100%;
  background-color: lightgray;
  padding: 5px;
  margin-left: 10%;
  margin-top: 110px;
  margin-bottom: 80px;
}

.banner nav li {
  font-size: 20px;
  font-family: tahoma;
}

/* table {
  padding: 5%;
  margin-left: 20%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-box-shadow: inset -5px -5px 5px #888;
  -webkit-box-shadow: inset -5px -5px 5px #888;
  box-shadow: inset -5px -5px 5px #888;
} */

.profile {
  padding: 4% 0 12% 0;
  margin: 0 auto;
}

#theTable{
  font-size: 18px;
  color: rgb(54, 54, 54);
  width: 70%;
  padding: 10px 0;
  margin-left: 15%;
}
/* #dish{
  display: flex;
  margin-top: 80px;
} */

.destinationh2 {
  margin: 20px 0;
}

#changeDestination {
  color: #cccaca;
  font-size: 22px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #393939;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: normal;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
  text-decoration: none;
}

#changeDestination:hover {
  background-color: #575656;
}

.cancel {
  padding: 2px;
  border: 2px solid rgb(160, 21, 21);
  cursor: pointer;
  background-color: red;
}

footer {
  position: relative;
  top: 91px;
  background-color: lightgray;
  margin: 0;
  padding: 0;
  border-top: 4px solid gray;
  width: 100%;
}

.footerSection {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 180px;
  border-bottom: 3px solid gray;
}

.footerSection ul li {
  float: left;
  width: 22%;
  margin: 25px 1.5%;
}

#footHeading{
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#moreInfo {
  color: black;
  text-decoration: none;
}

#footerPara1{
  font-family: 'Times New Roman', Times, serif;
  line-height: 18px;
}

#footerPara2{
  font-family: 'Times New Roman', Times, serif;
  line-height: 1px;
}

.copyrights {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.copyrights img {
  height: 50px;
}

/* TABLETS */
@media screen and (max-width: 705px) {
  /* head section */
  header {
    padding: 6px 0;
    position: unset;
  }

  .headSection {
    text-align: unset;
  }

  .headSection .logo {
    float: none;
  }

  .headerNav {
    float: none;
    display: flex;
    justify-content: center;
  }

  .headerNav ul li {
    display: inline;
    margin: 10px 25px;
  }

  /* body section */
  .banner {
    position: unset;
    top: 0;
    text-align: unset;
  }

  /* footer section */
  footer {
    position: unset;
    top: 0px;
  }

  .footerSection {
    height: 310px;
  }

  .footerSection ul li {
    width: 40%;
    margin: 15px 5% 0 5%;
    height: 120px;
  }
}

/* SMARTPHONES */

@media screen and (max-width: 465px) {
  /* head section */
  .burger-nav {
    height: 40px;
    display: block;
    width: 100%;
    background: url("../images/menu.jpg") no-repeat right center;
    background-color: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .headerNav ul.open {
    height: auto;
  }

  .headerNav ul {
    height: 0;
    overflow: hidden;
  }

  header {
    padding: 6px 0 0 0;
    position: unset;
  }

  .headSection {
    text-align: center;
  }

  .headSection .logo {
    float: none;
  }

  .headerNav {
    float: none;
    display: unset;
    justify-content: unset;
  }

  .headerNav ul li {
    display: unset;
    margin: 0;
    padding: 8px 0;
    width: 100%;
    text-align: left;
    background-color: rgb(235, 231, 231);
    border: 1px solid rgb(151, 66, 66);
  }

  /* body section */
  .form-section {
    height: 600px;
  }

  /* footer section */

  .footerSection {
    height: 520px;
    text-align: center;
  }

  .footerSection ul li {
    float: none;
    width: 80%;
    margin: 15px auto;
    height: 100px;
  }
}

/* very small devices */
@media screen and (max-width: 290px) {
  /* footer section */

body{
  min-width: 290px;
}

}
